body {
    background-image: url('img/brickwall.png');
    color: #5d5d5d;
}

.brief {
    margin-top: 7em;
    margin-bottom: 4em;
    font-size: 1.3em;
    text-align: center;
    line-height: 2.6em;
}

.introduction {
    width: 20em;
    margin: 3em auto;
    text-align: center;
    line-height: 2em;
}

.login a {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
    background: transparent url('img/logo.png') center center no-repeat;
}

.social {
    margin-top: 2em;
    display: block;
}

.social li {
    display: inline-block;
    margin: 1em;
}

.social li img {
    width: 1.8em;
    height: 1.8em;
}

a.button {
    color: #eb7070;
}

.notification {
    text-align: center;
    padding: 1em 0;
    background-color: #dedede;
    box-shadow: 1px 1px 1px #c9c9c9 inset;
}
